body{
    width: 100%;
    background-image: url("../images/webb.png");
    margin: 0px;
}

.content{
    
}
.heading{
    background-color: #ffffff;
    border: solid #cccccc;
    width: 1446px; 
    height: 100px;
    margin: -1px;
    
}



h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin: 25px 0px 0px 250px;
    float: left;
    padding: 20px;
    font-size: 35px
    
}
.link{
    color: #777777;
    float: right;
    margin-top: 33px;
    margin-right: 250px;
    font-family: 'Arial', 'helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
}
.index{
    border-right: 1px solid #777777;
    padding: 0px 20px;
    color: #777777 ;
    text-decoration: none;
}
.contact-page{
    color:#777777;
    padding: 0px 20px;
    text-decoration: none;
}
.portfolio-page{
    border-right: 1px solid #777777;
    color: #777777;
    padding: 0px 20px;
    text-decoration: none;
}

.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
h2{
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
}
hr{
    border-top: 1px solid #cccccc;
}
.bio {
    width: 960px;
    margin: 50px 250px -50px 250px;
    background-color: #ffffff;
    border: solid #dddddd;
    padding: 20px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
}

.bio-pic{
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px 20px 10px 0px;
}
.qoute{
    font-style: italic;
    text-align: center;
}
.contact{
    width: 960px;
    margin: 50px 250px -50px 250px;
    background-color: #ffffff;
    border: solid #dddddd;
    padding: 20px;
}
input[type=text], textarea{
    width: 100%;
    padding: 5px 0px;
    border: 1px solid #cccccc;
    resize: vertical;
    margin: 10px 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;

}
textarea{
    height: 300px;
}
input[type=email]{
    width: 100%;
    padding: 5px 0px;
    border: 1px solid #cccccc;
    resize: vertical
    margin: 10px 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
}
input[type=submit]{
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: #397c79;
}
.portfolio{
    width: 960px;
    margin: 50px 250px -50px 250px;
    background-color: #ffffff;
    border: solid #dddddd;
    padding: 20px;
}
.portfolio-pics{
    display: grid;
    grid-template-columns: 320px 320px;
    
    
}
.pic1{
    width: 300px;
    height: 200px;
    margin: 20px 0px 20px 0px;
}
.pic1a{
   position: relative;
}
.site-one{
    background: #4aaaa5;
    height: 20px;
    width: 300px;
    margin: 0px;
    text-align: center;
    padding: 20px 0px;
    position: absolute;
    top: 55%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    font-size: 20px;
    
}
.pic2{
    width: 300px;
    height: 200px;
    margin: 20px 0px 20px 0px;
}
.pic2a{
   position: relative;
}
.site-two{
    background: #4aaaa5;
    height: 20px;
    width: 300px;
    margin: 0px;
    text-align: center;
    padding: 20px 0px;
    position: absolute;
    top: 55%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    font-size: 20px;
}    
.pic3{
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
}
.pic3a{
    position: relative;
 }
.site-three{
    background: #4aaaa5;
    height: 20px;
    width: 300px;
    margin: 0px;
    text-align: center;
    padding: 20px 0px;
    position: absolute;
    top: 55%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    font-size: 20px;
}
.pic4{
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
}
.pic4a{
    position: relative;
 }
.site-four{
    background: #4aaaa5;
    height: 20px;
    width: 300px;
    margin: 0px;
    text-align: center;
    padding: 20px 0px;
    position: absolute;
    top: 55%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    font-size: 20px;
}
.pic5{
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
}
.pic5a{
    position: relative;
 }
.site-five{
    background: #4aaaa5;
    height: 20px;
    width: 300px;
    margin: 0px;
    text-align: center;
    padding: 20px 0px;
    position: absolute;
    top: 55%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    font-size: 20px;
}
.footer{
    text-align: center;
    vertical-align: text-bottom;
    background-color: #666666;
    font-family: 'Arial', 'helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding-top: 50px;
    border-top: 8px solid #4aaaa5;
    

}
.push{
    height: 200px;
}