@font-face {
  font-family: trajan;
  src: url(../font/Trajan\ Bold.ttf);
}

nav {
  height: 200px;
  font-family: trajan;
  font-size: 50px;
  letter-spacing: 0.05em;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
}

#mobile-demo {
  font-family: trajan;
  letter-spacing: 0.5em;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
  color: white;
}

.ahr {
  border: solid white 2px;
}

#phr {
  border: solid #416cb4 2px;
}
#creator {
  font-family: trajan;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  font-size: 20px;
  
}
footer {
  font-family: trajan;
  letter-spacing: 0.1em;
}
.footer-copyright {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: white;
}

#logo {
  height: 200px;
  width: 200px;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}
.me {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}


.smedia {
  width: 30px;
  height: 30px;
}

.smediaf {
  width: 35px;
  height: 30px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.carousel {
  height: 600px;
  perspective: 1000px;
}

.carousel .carousel-item {
  left: -200px;
  
}
.carousel .carousel-item > img {
  width: 300%;
}

#port,
.gif {
  color: #416cb4;
  font-family: trajan;
}

#port{
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#family{
  box-shadow: 0px 0px 10px rgb(255, 255, 255)
}

.portgif {
  box-shadow: 0px 0px 10px rgb(255, 255, 255)
}

.index {
  font-family: trajan;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  letter-spacing: 0.1em;
}

#about{
  background-color: #C0C0C0;
}

p {
  font-family: "Simonetta", cursive;
  font-size: 20px;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  color: black;
}

.streamline {
  width: 100%;
  color: #416cb4;
  font-family: trajan;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  font-size: 20px;
}

.evenCuriouser {
  width: 100%;
  color: #416cb4;
  font-family: trajan;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  font-size: 20px;
}

.sl1 {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  box-shadow: 0px 0px 10px rgb(255, 255, 255)
}

.eC1 {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  box-shadow: 0px 0px 10px rgb(255, 255, 255)
}


.carousel{
  overflow: visible;
}

.sDiscription {
  margin-top: 104px;
}

@media only screen and (max-width: 992px) {
  #stream{
    margin-top: 30px;
    border-top: solid #416cb4 2px;
  }

  .portgif{
    height: 325px;
  }

  .carousel .carousel-item {
    left: -100px;
    
  }
  .carousel .carousel-item > img {
    width: 200%;
  }
}